ipywidgets
matplotlib
pandas
torch
torchvision
tqdm

optuna

lightgbm
catboost
xgboost

prophet
pmdarima

japanize-matplotlib
pygwalker

ydata-profiling
# zarque-profiling
dtale
sweetviz
autoviz
# dataprep

autogluon
pycaret

jupytext
